<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <title>Analizador Léxico Web</title>
    <link rel="stylesheet" href="../static/Style.css" />
    <script>
      function borrarTexto() {
        document.querySelector('textarea[name="code"]').value = "";
        const tbody = document.querySelector("table tbody");
        while (tbody.firstChild) {
          tbody.removeChild(tbody.firstChild);
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <form method="post">
        <textarea
          name="code"
          placeholder="Escribe tu código aquí"
          required
        ></textarea>
        <button type="submit">Analizar</button>
        <button type="button" onclick="borrarTexto()">Borrar</button>
      </form>

      <table>
        <thead>
          <tr>
            <th>TOKEN</th>
            <th>PR</th>
            <th>ID</th>
            <th>CAD.</th>
            <th>NU.</th>
            <th>SI.</th>
            <th>Error</th>
            <th>TIPO</th>
          </tr>
        </thead>
        <tbody>
          {% for token in tokens %}
          <tr>
            <td>{{ token.token }}</td>
            <td>{{ token.pr }}</td>
            <td>{{ token.id }}</td>
            <td>{{ token.cad }}</td>
            <td>{{ token.num }}</td>
            <td>{{ token.si }}</td>
            <td>{{ token.error }}</td>
            <td>{{ token.tipo }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
